<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserMapper">
    <insert id="addUser">
        insert into user(user_id,user_name,user_password,user_email,user_hiredate,user_status,user_departuredate,user_role)
        values (#{id},#{name},#{password},#{email},#{hiredate},#{status},#{departuredate},#{role})
    </insert>
</mapper>